<div class="dashboard_pages error-page">
<!-- Header -->
<!-- <div ng-if="loggedIn" ng-include="'navigation.html'"></div> -->
<div ng-if="!loggedIn">
	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="top_header clearfix">
						<div class="logo"><img src="images/logo.png" alt=""/></div>
					</div>			
				</div>	
			</div>
		</div>
	</header>
</div>
<!-- End header -->


<!-- Middle Section Start -->
<div class="container-fluid">

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="error-message" style="text-align: center">
<h1>Oh no!</h1>
<h3>Weren't you, like, born on the Internet?</h3>
<p><span>How are you supposed to help mom with technology if you can't even find the web page you want? Just kidding, it could be our bad. Maybe.</span></p>
<div style="margin-top: 35px"><a href="javascript: void(0)" ng-click="getBack()" class="error">Take me back!</a></div>
</div> <!-- End Of Error Message -->
</div>
</div>

</div>	
<!-- Middle Section end -->
</div>