 <div class="modal-header">
	<h3 class="modal-title"></h3>
</div>
<div class="modal-body">
	<div class="form-group">
	  <h3 ng-if="returnCode == 104">It seems you have not registered to use Mavy with Facebook. If you already have an account with us that is not linked to Facebook, please use the login form provided. Otherwise, please fill out our registration survey to set up your account on Mavy and link it to Facebook.</h3>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>