                <div class="panel-body">
                    <div role="form" class="form-horizontal trial-form">
                        <form ng-submit="login()" method="post">
                            <fieldset>
                            <div class="form-group">
                                <input type="text" required="true" placeholder="Username" name="trial-name" id="" class="form-control username" ng-model="sign.uname">
                            </div>
                            <div class="form-group">
                                <input type="password" required="true" placeholder="Password" name="trial-email" id="" class="form-control password" ng-model="sign.password">
                            </div>
                            <div class="form-group">
                               <button type="submit" class="btn btn-lg signupfacebook signin">Log In</button>
                            </div>
                        </fieldset>
                        </form>
                    </div>
                </div>
                <div class="panel-footer">
                    <label class="text-center or">OR</label>
                    <button type="submit" class="btn btn-lg signupfacebook" ng-click="fbLogin()">Sign In with Facebook</button>
                </div>
